[Unit]
Description=CDEM Logger
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
ExecStart=/home/pi/cdem-logger/logger

StandardOutput=file:/var/log/cdem.log
StandardError=file:/var/log/cdem_error.log

[Install]
WantedBy=multi-user.target
